main {
    width: 100vw;
    height: 100vh;
}

img {
    width:50%;
    height: auto;
}

table tbody {
    display: block;
    max-height: 120px;
    overflow-y: scroll;
}

table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}